<div *ngIf="auth.user | async; then authenticated else guest">
  <!--template will replace this div-->
</div>

<!--user not logged in-->
<ng-template #guest>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Hi, GUEST</h3>
        <p>Login with Google or Facebook to get access to Warwick Softball Team TBD Website</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary" (click)="auth.googleLogin()"><i class="fab fa-google"></i> Connect with Google</button>
      </div>
      <div id="facebookButton" class="col-sm-4">
        <button type="button" class="btn btn-primary" (click)="auth.facebookLogin()"><i class="fab fa-facebook"></i> Connect with Facebook</button>
      </div>
    </div>
  </div>
</ng-template>

<!--user logged in-->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <main role="main" class="container">
      <app-player-table></app-player-table>
      <ngb-tabset>
        <ngb-tab title="Add A Player">
          <ng-template ngbTabContent="">
            <app-add-player></app-add-player>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Update A Player">
          <ng-template ngbTabContent="">
            <app-update-player></app-update-player>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </main>
  </div>
</ng-template>
